@font-face {
    font-family: 'fa-solid';
    src: url("./fonts/fa-solid-900.woff") format('woff') 
        url("./fonts/fa-solid-900.ttf") format('ttf') ;
}
:root{
    --fa-ad:'\f641';
    --fa-address-book:'\f2b9';
    --fa-address-card:'\f2bb';
    --fa-adjust:'\f042';
    --fa-air-freshener:'\f5d0';
    --fa-align-center:'\f037';
    --fa-align-justify:'\f039';
    --fa-align-left:'\f036';
    --fa-align-right:'\f038';
    --fa-allergies:'\f461';
    --fa-ambulance:'\f0f9';
    --fa-american-sign-language-interpreting:'\f2a3';
    --fa-anchor:'\f13d';
    --fa-angle-double-down:'\f103';
    --fa-angle-double-left:'\f100';
    --fa-angle-double-right:'\f101';
    --fa-angle-double-up:'\f102';
    --fa-angle-down:'\f107';
    --fa-angle-left:'\f104';
    --fa-angle-right:'\f105';
    --fa-angle-up:'\f106';
    --fa-angry:'\f556';
    --fa-ankh:'\f644';
    --fa-apple-alt:'\f5d1';
    --fa-archive:'\f187';
    --fa-archway:'\f557';
    --fa-arrow-alt-circle-down:'\f358';
    --fa-arrow-alt-circle-left:'\f359';
    --fa-arrow-alt-circle-right:'\f35a';
    --fa-arrow-alt-circle-up:'\f35b';
    --fa-arrow-circle-down:'\f0ab';
    --fa-arrow-circle-left:'\f0a8';
    --fa-arrow-circle-right:'\f0a9';
    --fa-arrow-circle-up:'\f0aa';
    --fa-arrow-down:'\f063';
    --fa-arrow-left:'\f060';
    --fa-arrow-right:'\f061';
    --fa-arrow-up:'\f062';
    --fa-arrows-alt:'\f0b2';
    --fa-arrows-alt-h:'\f337';
    --fa-arrows-alt-v:'\f338';
    --fa-assistive-listening-systems:'\f2a2';
    --fa-asterisk:'\f069';
    --fa-at:'\f1fa';
    --fa-atlas:'\f558';
    --fa-atom:'\f5d2';
    --fa-audio-description:'\f29e';
    --fa-award:'\f559';
    --fa-baby:'\f77c';
    --fa-baby-carriage:'\f77d';
    --fa-backspace:'\f55a';
    --fa-backward:'\f04a';
    --fa-bacon:'\f7e5';
    --fa-balance-scale:'\f24e';
    --fa-balance-scale-left:'\f515';
    --fa-balance-scale-right:'\f516';
    --fa-ban:'\f05e';
    --fa-band-aid:'\f462';
    --fa-barcode:'\f02a';
    --fa-bars:'\f0c9';
    --fa-baseball-ball:'\f433';
    --fa-basketball-ball:'\f434';
    --fa-bath:'\f2cd';
    --fa-battery-empty:'\f244';
    --fa-battery-full:'\f240';
    --fa-battery-half:'\f242';
    --fa-battery-quarter:'\f243';
    --fa-battery-three-quarters:'\f241';
    --fa-bed:'\f236';
    --fa-beer:'\f0fc';
    --fa-bell:'\f0f3';
    --fa-bell-slash:'\f1f6';
    --fa-bezier-curve:'\f55b';
    --fa-bible:'\f647';
    --fa-bicycle:'\f206';
    --fa-biking:'\f84a';
    --fa-binoculars:'\f1e5';
    --fa-biohazard:'\f780';
    --fa-birthday-cake:'\f1fd';
    --fa-blender:'\f517';
    --fa-blender-phone:'\f6b6';
    --fa-blind:'\f29d';
    --fa-blog:'\f781';
    --fa-bold:'\f032';
    --fa-bolt:'\f0e7';
    --fa-bomb:'\f1e2';
    --fa-bone:'\f5d7';
    --fa-bong:'\f55c';
    --fa-book:'\f02d';
    --fa-book-dead:'\f6b7';
    --fa-book-medical:'\f7e6';
    --fa-book-open:'\f518';
    --fa-book-reader:'\f5da';
    --fa-bookmark:'\f02e';
    --fa-border-all:'\f84c';
    --fa-border-none:'\f850';
    --fa-border-style:'\f853';
    --fa-bowling-ball:'\f436';
    --fa-box:'\f466';
    --fa-box-open:'\f49e';
    --fa-boxes:'\f468';
    --fa-braille:'\f2a1';
    --fa-brain:'\f5dc';
    --fa-bread-slice:'\f7ec';
    --fa-briefcase:'\f0b1';
    --fa-briefcase-medical:'\f469';
    --fa-broadcast-tower:'\f519';
    --fa-broom:'\f51a';
    --fa-brush:'\f55d';
    --fa-bug:'\f188';
    --fa-building:'\f1ad';
    --fa-bullhorn:'\f0a1';
    --fa-bullseye:'\f140';
    --fa-burn:'\f46a';
    --fa-bus:'\f207';
    --fa-bus-alt:'\f55e';
    --fa-business-time:'\f64a';
    --fa-calculator:'\f1ec';
    --fa-calendar:'\f133';
    --fa-calendar-alt:'\f073';
    --fa-calendar-check:'\f274';
    --fa-calendar-day:'\f783';
    --fa-calendar-minus:'\f272';
    --fa-calendar-plus:'\f271';
    --fa-calendar-times:'\f273';
    --fa-calendar-week:'\f784';
    --fa-camera:'\f030';
    --fa-camera-retro:'\f083';
    --fa-campground:'\f6bb';
    --fa-candy-cane:'\f786';
    --fa-cannabis:'\f55f';
    --fa-capsules:'\f46b';
    --fa-car:'\f1b9';
    --fa-car-alt:'\f5de';
    --fa-car-battery:'\f5df';
    --fa-car-crash:'\f5e1';
    --fa-car-side:'\f5e4';
    --fa-caret-down:'\f0d7';
    --fa-caret-left:'\f0d9';
    --fa-caret-right:'\f0da';
    --fa-caret-square-down:'\f150';
    --fa-caret-square-left:'\f191';
    --fa-caret-square-right:'\f152';
    --fa-caret-square-up:'\f151';
    --fa-caret-up:'\f0d8';
    --fa-carrot:'\f787';
    --fa-cart-arrow-down:'\f218';
    --fa-cart-plus:'\f217';
    --fa-cash-register:'\f788';
    --fa-cat:'\f6be';
    --fa-certificate:'\f0a3';
    --fa-chair:'\f6c0';
    --fa-chalkboard:'\f51b';
    --fa-chalkboard-teacher:'\f51c';
    --fa-charging-station:'\f5e7';
    --fa-chart-area:'\f1fe';
    --fa-chart-bar:'\f080';
    --fa-chart-line:'\f201';
    --fa-chart-pie:'\f200';
    --fa-check:'\f00c';
    --fa-check-circle:'\f058';
    --fa-check-double:'\f560';
    --fa-check-square:'\f14a';
    --fa-cheese:'\f7ef';
    --fa-chess:'\f439';
    --fa-chess-bishop:'\f43a';
    --fa-chess-board:'\f43c';
    --fa-chess-king:'\f43f';
    --fa-chess-knight:'\f441';
    --fa-chess-pawn:'\f443';
    --fa-chess-queen:'\f445';
    --fa-chess-rook:'\f447';
    --fa-chevron-circle-down:'\f13a';
    --fa-chevron-circle-left:'\f137';
    --fa-chevron-circle-right:'\f138';
    --fa-chevron-circle-up:'\f139';
    --fa-chevron-down:'\f078';
    --fa-chevron-left:'\f053';
    --fa-chevron-right:'\f054';
    --fa-chevron-up:'\f077';
    --fa-child:'\f1ae';
    --fa-church:'\f51d';
    --fa-circle:'\f111';
    --fa-circle-notch:'\f1ce';
    --fa-city:'\f64f';
    --fa-clinic-medical:'\f7f2';
    --fa-clipboard:'\f328';
    --fa-clipboard-check:'\f46c';
    --fa-clipboard-list:'\f46d';
    --fa-clock:'\f017';
    --fa-clone:'\f24d';
    --fa-closed-captioning:'\f20a';
    --fa-cloud:'\f0c2';
    --fa-cloud-download-alt:'\f381';
    --fa-cloud-meatball:'\f73b';
    --fa-cloud-moon:'\f6c3';
    --fa-cloud-moon-rain:'\f73c';
    --fa-cloud-rain:'\f73d';
    --fa-cloud-showers-heavy:'\f740';
    --fa-cloud-sun:'\f6c4';
    --fa-cloud-sun-rain:'\f743';
    --fa-cloud-upload-alt:'\f382';
    --fa-cocktail:'\f561';
    --fa-code:'\f121';
    --fa-code-branch:'\f126';
    --fa-coffee:'\f0f4';
    --fa-cog:'\f013';
    --fa-cogs:'\f085';
    --fa-coins:'\f51e';
    --fa-columns:'\f0db';
    --fa-comment:'\f075';
    --fa-comment-alt:'\f27a';
    --fa-comment-dollar:'\f651';
    --fa-comment-dots:'\f4ad';
    --fa-comment-medical:'\f7f5';
    --fa-comment-slash:'\f4b3';
    --fa-comments:'\f086';
    --fa-comments-dollar:'\f653';
    --fa-compact-disc:'\f51f';
    --fa-compass:'\f14e';
    --fa-compress:'\f066';
    --fa-compress-arrows-alt:'\f78c';
    --fa-concierge-bell:'\f562';
    --fa-cookie:'\f563';
    --fa-cookie-bite:'\f564';
    --fa-copy:'\f0c5';
    --fa-copyright:'\f1f9';
    --fa-couch:'\f4b8';
    --fa-credit-card:'\f09d';
    --fa-crop:'\f125';
    --fa-crop-alt:'\f565';
    --fa-cross:'\f654';
    --fa-crosshairs:'\f05b';
    --fa-crow:'\f520';
    --fa-crown:'\f521';
    --fa-crutch:'\f7f7';
    --fa-cube:'\f1b2';
    --fa-cubes:'\f1b3';
    --fa-cut:'\f0c4';
    --fa-database:'\f1c0';
    --fa-deaf:'\f2a4';
    --fa-democrat:'\f747';
    --fa-desktop:'\f108';
    --fa-dharmachakra:'\f655';
    --fa-diagnoses:'\f470';
    --fa-dice:'\f522';
    --fa-dice-d20:'\f6cf';
    --fa-dice-d6:'\f6d1';
    --fa-dice-five:'\f523';
    --fa-dice-four:'\f524';
    --fa-dice-one:'\f525';
    --fa-dice-six:'\f526';
    --fa-dice-three:'\f527';
    --fa-dice-two:'\f528';
    --fa-digital-tachograph:'\f566';
    --fa-directions:'\f5eb';
    --fa-divide:'\f529';
    --fa-dizzy:'\f567';
    --fa-dna:'\f471';
    --fa-dog:'\f6d3';
    --fa-dollar-sign:'\f155';
    --fa-dolly:'\f472';
    --fa-dolly-flatbed:'\f474';
    --fa-donate:'\f4b9';
    --fa-door-closed:'\f52a';
    --fa-door-open:'\f52b';
    --fa-dot-circle:'\f192';
    --fa-dove:'\f4ba';
    --fa-download:'\f019';
    --fa-drafting-compass:'\f568';
    --fa-dragon:'\f6d5';
    --fa-draw-polygon:'\f5ee';
    --fa-drum:'\f569';
    --fa-drum-steelpan:'\f56a';
    --fa-drumstick-bite:'\f6d7';
    --fa-dumbbell:'\f44b';
    --fa-dumpster:'\f793';
    --fa-dumpster-fire:'\f794';
    --fa-dungeon:'\f6d9';
    --fa-edit:'\f044';
    --fa-egg:'\f7͝';
    --fa-eject:'\f052';
    --fa-ellipsis-h:'\f141';
    --fa-ellipsis-v:'\f142';
    --fa-envelope:'\f0e0';
    --fa-envelope-open:'\f2b6';
    --fa-envelope-open-text:'\f658';
    --fa-envelope-square:'\f199';
    --fa-equals:'\f52c';
    --fa-eraser:'\f12d';
    --fa-ethernet:'\f796';
    --fa-euro-sign:'\f153';
    --fa-exchange-alt:'\f362';
    --fa-exclamation:'\f12a';
    --fa-exclamation-circle:'\f06a';
    --fa-exclamation-triangle:'\f071';
    --fa-expand:'\f065';
    --fa-expand-arrows-alt:'\f31e';
    --fa-external-link-alt:'\f35d';
    --fa-external-link-square-alt:'\f360';
    --fa-eye:'\f06e';
    --fa-eye-dropper:'\f1͝';
    --fa-eye-slash:'\f070';
    --fa-fan:'\f863';
    --fa-fast-backward:'\f049';
    --fa-fast-forward:'\f050';
    --fa-fax:'\f1ac';
    --fa-feather:'\f52d';
    --fa-feather-alt:'\f56b';
    --fa-female:'\f182';
    --fa-fighter-jet:'\f0͝';
    --fa-file:'\f15b';
    --fa-file-alt:'\f15c';
    --fa-file-archive:'\f1c6';
    --fa-file-audio:'\f1c7';
    --fa-file-code:'\f1c9';
    --fa-file-contract:'\f56c';
    --fa-file-csv:'\f6dd';
    --fa-file-download:'\f56d';
    --fa-file-excel:'\f1c3';
    --fa-file-export:'\f56e';
    --fa-file-image:'\f1c5';
    --fa-file-import:'\f56f';
    --fa-file-invoice:'\f570';
    --fa-file-invoice-dollar:'\f571';
    --fa-file-medical:'\f477';
    --fa-file-medical-alt:'\f478';
    --fa-file-pdf:'\f1c1';
    --fa-file-powerpoint:'\f1c4';
    --fa-file-prescription:'\f572';
    --fa-file-signature:'\f573';
    --fa-file-upload:'\f574';
    --fa-file-video:'\f1c8';
    --fa-file-word:'\f1c2';
    --fa-fill:'\f575';
    --fa-fill-drip:'\f576';
    --fa-film:'\f008';
    --fa-filter:'\f0b0';
    --fa-fingerprint:'\f577';
    --fa-fire:'\f06d';
    --fa-fire-alt:'\f7e4';
    --fa-fire-extinguisher:'\f134';
    --fa-first-aid:'\f479';
    --fa-fish:'\f578';
    --fa-fist-raised:'\f6de';
    --fa-flag:'\f024';
    --fa-flag-checkered:'\f11e';
    --fa-flag-usa:'\f74d';
    --fa-flask:'\f0c3';
    --fa-flushed:'\f579';
    --fa-folder:'\f07b';
    --fa-folder-minus:'\f65d';
    --fa-folder-open:'\f07c';
    --fa-folder-plus:'\f65e';
    --fa-font:'\f031';
    --fa-football-ball:'\f44e';
    --fa-forward:'\f04e';
    --fa-frog:'\f52e';
    --fa-frown:'\f119';
    --fa-frown-open:'\f57a';
    --fa-funnel-dollar:'\f662';
    --fa-futbol:'\f1e3';
    --fa-gamepad:'\f11b';
    --fa-gas-pump:'\f52f';
    --fa-gavel:'\f0e3';
    --fa-gem:'\f3a5';
    --fa-genderless:'\f22d';
    --fa-ghost:'\f6e2';
    --fa-gift:'\f06b';
    --fa-gifts:'\f79c';
    --fa-glass-cheers:'\f79f';
    --fa-glass-martini:'\f000';
    --fa-glass-martini-alt:'\f57b';
    --fa-glass-whiskey:'\f7a0';
    --fa-glasses:'\f530';
    --fa-globe:'\f0ac';
    --fa-globe-africa:'\f57c';
    --fa-globe-americas:'\f57d';
    --fa-globe-asia:'\f57e';
    --fa-globe-europe:'\f7a2';
    --fa-golf-ball:'\f450';
    --fa-gopuram:'\f664';
    --fa-graduation-cap:'\f19d';
    --fa-greater-than:'\f531';
    --fa-greater-than-equal:'\f532';
    --fa-grimace:'\f57f';
    --fa-grin:'\f580';
    --fa-grin-alt:'\f581';
    --fa-grin-beam:'\f582';
    --fa-grin-beam-sweat:'\f583';
    --fa-grin-hearts:'\f584';
    --fa-grin-squint:'\f585';
    --fa-grin-squint-tears:'\f586';
    --fa-grin-stars:'\f587';
    --fa-grin-tears:'\f588';
    --fa-grin-tongue:'\f589';
    --fa-grin-tongue-squint:'\f58a';
    --fa-grin-tongue-wink:'\f58b';
    --fa-grin-wink:'\f58c';
    --fa-grip-horizontal:'\f58d';
    --fa-grip-lines:'\f7a4';
    --fa-grip-lines-vertical:'\f7a5';
    --fa-grip-vertical:'\f58e';
    --fa-guitar:'\f7a6';
    --fa-h-square:'\f0fd';
    --fa-hamburger:'\f805';
    --fa-hammer:'\f6e3';
    --fa-hamsa:'\f665';
    --fa-hand-holding:'\f4bd';
    --fa-hand-holding-heart:'\f4be';
    --fa-hand-holding-usd:'\f4c0';
    --fa-hand-lizard:'\f258';
    --fa-hand-middle-finger:'\f806';
    --fa-hand-paper:'\f256';
    --fa-hand-peace:'\f25b';
    --fa-hand-point-down:'\f0a7';
    --fa-hand-point-left:'\f0a5';
    --fa-hand-point-right:'\f0a4';
    --fa-hand-point-up:'\f0a6';
    --fa-hand-pointer:'\f25a';
    --fa-hand-rock:'\f255';
    --fa-hand-scissors:'\f257';
    --fa-hand-spock:'\f259';
    --fa-hands:'\f4c2';
    --fa-hands-helping:'\f4c4';
    --fa-handshake:'\f2b5';
    --fa-hanukiah:'\f6e6';
    --fa-hard-hat:'\f807';
    --fa-hashtag:'\f292';
    --fa-hat-wizard:'\f6e8';
    --fa-haykal:'\f666';
    --fa-hdd:'\f0a0';
    --fa-heading:'\f1dc';
    --fa-headphones:'\f025';
    --fa-headphones-alt:'\f58f';
    --fa-headset:'\f590';
    --fa-heart:'\f004';
    --fa-heart-broken:'\f7a9';
    --fa-heartbeat:'\f21e';
    --fa-helicopter:'\f533';
    --fa-highlighter:'\f591';
    --fa-hiking:'\f6ec';
    --fa-hippo:'\f6ed';
    --fa-history:'\f1da';
    --fa-hockey-puck:'\f453';
    --fa-holly-berry:'\f7aa';
    --fa-home:'\f015';
    --fa-horse:'\f6f0';
    --fa-horse-head:'\f7ab';
    --fa-hospital:'\f0f8';
    --fa-hospital-alt:'\f47d';
    --fa-hospital-symbol:'\f47e';
    --fa-hot-tub:'\f593';
    --fa-hotdog:'\f80f';
    --fa-hotel:'\f594';
    --fa-hourglass:'\f254';
    --fa-hourglass-end:'\f253';
    --fa-hourglass-half:'\f252';
    --fa-hourglass-start:'\f251';
    --fa-house-damage:'\f6f1';
    --fa-hryvnia:'\f6f2';
    --fa-i-cursor:'\f246';
    --fa-ice-cream:'\f810';
    --fa-icicles:'\f7ad';
    --fa-icons:'\f86d';
    --fa-id-badge:'\f2c1';
    --fa-id-card:'\f2c2';
    --fa-id-card-alt:'\f47f';
    --fa-igloo:'\f7ae';
    --fa-image:'\f03e';
    --fa-images:'\f302';
    --fa-inbox:'\f01c';
    --fa-indent:'\f03c';
    --fa-industry:'\f275';
    --fa-infinity:'\f534';
    --fa-info:'\f129';
    --fa-info-circle:'\f05a';
    --fa-italic:'\f033';
    --fa-jedi:'\f669';
    --fa-joint:'\f595';
    --fa-journal-whills:'\f66a';
    --fa-kaaba:'\f66b';
    --fa-key:'\f084';
    --fa-keyboard:'\f11c';
    --fa-khanda:'\f66d';
    --fa-kiss:'\f596';
    --fa-kiss-beam:'\f597';
    --fa-kiss-wink-heart:'\f598';
    --fa-kiwi-bird:'\f535';
    --fa-landmark:'\f66f';
    --fa-language:'\f1ab';
    --fa-laptop:'\f109';
    --fa-laptop-code:'\f5fc';
    --fa-laptop-medical:'\f812';
    --fa-laugh:'\f599';
    --fa-laugh-beam:'\f59a';
    --fa-laugh-squint:'\f59b';
    --fa-laugh-wink:'\f59c';
    --fa-layer-group:'\f5fd';
    --fa-leaf:'\f06c';
    --fa-lemon:'\f094';
    --fa-less-than:'\f536';
    --fa-less-than-equal:'\f537';
    --fa-level-down-alt:'\f3be';
    --fa-level-up-alt:'\f3bf';
    --fa-life-ring:'\f1cd';
    --fa-lightbulb:'\f0eb';
    --fa-link:'\f0c1';
    --fa-lira-sign:'\f195';
    --fa-list:'\f03a';
    --fa-list-alt:'\f022';
    --fa-list-ol:'\f0cb';
    --fa-list-ul:'\f0ca';
    --fa-location-arrow:'\f124';
    --fa-lock:'\f023';
    --fa-lock-open:'\f3c1';
    --fa-long-arrow-alt-down:'\f309';
    --fa-long-arrow-alt-left:'\f30a';
    --fa-long-arrow-alt-right:'\f30b';
    --fa-long-arrow-alt-up:'\f30c';
    --fa-low-vision:'\f2a8';
    --fa-luggage-cart:'\f59d';
    --fa-magic:'\f0d0';
    --fa-magnet:'\f076';
    --fa-mail-bulk:'\f674';
    --fa-male:'\f183';
    --fa-map:'\f279';
    --fa-map-marked:'\f59f';
    --fa-map-marked-alt:'\f5a0';
    --fa-map-marker:'\f041';
    --fa-map-marker-alt:'\f3c5';
    --fa-map-pin:'\f276';
    --fa-map-signs:'\f277';
    --fa-marker:'\f5a1';
    --fa-mars:'\f222';
    --fa-mars-double:'\f227';
    --fa-mars-stroke:'\f229';
    --fa-mars-stroke-h:'\f22b';
    --fa-mars-stroke-v:'\f22a';
    --fa-mask:'\f6fa';
    --fa-medal:'\f5a2';
    --fa-medkit:'\f0fa';
    --fa-meh:'\f11a';
    --fa-meh-blank:'\f5a4';
    --fa-meh-rolling-eyes:'\f5a5';
    --fa-memory:'\f538';
    --fa-menorah:'\f676';
    --fa-mercury:'\f223';
    --fa-meteor:'\f753';
    --fa-microchip:'\f2db';
    --fa-microphone:'\f130';
    --fa-microphone-alt:'\f3c9';
    --fa-microphone-alt-slash:'\f539';
    --fa-microphone-slash:'\f131';
    --fa-microscope:'\f610';
    --fa-minus:'\f068';
    --fa-minus-circle:'\f056';
    --fa-minus-square:'\f146';
    --fa-search:'\f002';
}